*{
    margin: 0;padding: 0;box-sizing: border-box;
}
:root{
    --eco: rgba(0, 135, 90, 1);
    --discount: rgba(235, 0, 55, 1);
    --price: rgba(255, 21, 41, 1);
    --logo: rgba(240, 98, 46, 1);
    --header: rgba(239, 239, 239, 1);
}

body{
    background-color: white;

}

#site_main{
    width: 1100px;
    margin: 0 auto;
}

img{
    width: 100%;
}

/* Utility classes */

/* Header */

header{
    background-color: var(--header);
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
}

.logo{
    padding: 0px 20px;
    
}

#logoimg{
    width: 80px;
    vertical-align: middle;
    
      
}

.logotext{
    font-size: 2.5rem;
    color: var(--logo);
    vertical-align: middle;
}



/* Main */

.products{
    margin: 10px 4px 0px 15px;   
    width: 320px;
    display: inline-block;
    box-shadow: 1px 1px 5px 1px #00000080;
    transition: transform .2s;
    overflow: hidden;
    z-index: 2;
    border-radius: 5px;

}

.product{
    display: inline-block;
    position: relative;
    width: 320px;
    
}

.hidden-img{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.badges-bottom{
    position: absolute;
    left: 0;
    bottom: 20px;
}

.discount{
  background-color: var(--discount);
  color: white;
  padding: 3px;

}

.eco{
   background-color: var(--eco);
   color: white;
   padding: 3px;
}


.heart{
    background-color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding: 5px 10px;
    position: absolute;
    top: 20px;
    right: 0;
    font-size: 1.5rem;
}

.shop{
    display: none;
    font-size: 2rem;
    color: var(--logo);
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 1000;
    /* cursor: pointer; */
}

.shopbg{
    background-color: white;
    display: inline-block;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 80px;
    height: 40px;
    position: absolute;
    top: -3px;
    left: -30px;

}

.imgtext{
    padding: 5px;
}

.clothes-name{
    font-style: italic;
}

.clothes-des{
    font-weight: bold;
}

.final-price{
    color: var(--price);
}

.original-price{
    text-decoration: line-through;
}

.product:hover .hidden-img{
    display: inherit;
}

.product:hover .heart{
    color: var(--logo);
    background-color: transparent;
    font-size: 3rem;
    padding: 0px 10px;
}

.products:hover{
    transform: scale(1.05);
}

.product:hover .shop{
    display: inherit;
}

/* Footer */

footer{
    background-color: white;
    margin: 20px 0px;
    text-align: center;
}

footer span{
    font-weight: bold;
}
